<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
<h1>Index Page</h1>
<dl>
    <dt>Sample Queries</dt>
    <dd><a href="/allproducts", target="_self">All Products in database</a></dd>
    <dd><a href="/samplequery", target="_self">Sample Query</a></dd>
    <dd><a href="/bookpurchase", target="_self">search for customers who bought books</a></dd>
    <dd><a href="/religiousbookpurchase", target="_self">search for customers who bought religious books</a></dd>
</dl>
<br>
<dl>
    <dt>Query Products </dt>
    <dd><a href="/searchforproducts", target="_self">search for related items</a></dd>
</dl>
<br>
<dl>
    <dt>Query by Category </dt>
    <dd><a href="/similarcategories", target="_self">search for similar categories</a></dd>
</dl>
<br>
<dl>
    <dt>Query by Review</dt>
    <dd><a href="/reviews", target="_self">search for reviews</a></dd>
</dl>
<br>
<dl>
    <dt>Query for Customers </dt>
    <dd><a href="/customersearch", target="_self">search for customers</a></dd>
</dl>
<br>
mmc175
</body>
</html>